.user-container {
	display: flex;
	align-items: center;
	padding: 15px;
	gap: 15px;
	margin-bottom: 15px;
	background-color: white;
	box-shadow: 1px 2px 3px 1px rgb(179, 172, 172);
	border-radius: 7px;
}
.users-list-container {
	position: absolute;
	top: 40%;
	left: 40px;
	width: 250px;
	position: absolute;
	overflow-y: scroll;
	z-index: 99;
}
.users-list-container::-webkit-scrollbar {
	display: none;
}
@media screen and (max-width: 426px) {
	.users-list-container {
		height: 200px;
	}
}
