.absolute-overflow-container {
	position: absolute;
	top: 100px;
	right: 15px;
	overflow-y: scroll;
	z-index: 199;
}
.absolute-overflow-container::-webkit-scrollbar {
	display: none;
}
.clock-in-out-card {
	width: 300px;
	background-color: rgba(255, 255, 255, 0.751);
}
@media screen and (max-width: 426px) {
	.absolute-overflow-container {
		top: 60%;
	}
	.clock-in-out-card {
		width: 80%;
	}
}
